name: Deploy Monitoring Project
on: 
  push: 
    branches:
      - main

jobs:
  plan:
    name: Terraform plan
    runs-on: ubuntu-latest 
    steps:
      - uses: actions/checkout@v6
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID}}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-west-3
      - name: Install Terraform
        run: |
          sudo apt-get update && sudo apt-get install -y gnupg software-properties-common
          wget -O- https://apt.releases.hashicorp.com/gpg | \
          gpg --dearmor | \
          sudo tee /usr/share/keyrings/hashicorp-archive-keyring.gpg > /dev/null
          gpg --no-default-keyring \
          --keyring /usr/share/keyrings/hashicorp-archive-keyring.gpg \
          --fingerprint
          echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com $(grep -oP '(?<=UBUNTU_CODENAME=).*' /etc/os-release || lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/hashicorp.list
          sudo apt update
          sudo apt-get install terraform

      - name: Initialise project and view terraform plan
        run: |
          cd infra/terraform
          terraform init
          terraform validate
          terraform fmt
          terraform plan
  deploy:
    name: Terraform Deploy
    runs-on: ubuntu-latest
    needs: [plan]
    outputs:
      public_ip: ${{ steps.apply.outputs.public_ip }}
    steps:
      - uses: actions/checkout@v6
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID}}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-west-3
      - name: Install Terraform
        run: |
          sudo apt-get update && sudo apt-get install -y gnupg software-properties-common
          wget -O- https://apt.releases.hashicorp.com/gpg | \
          gpg --dearmor | \
          sudo tee /usr/share/keyrings/hashicorp-archive-keyring.gpg > /dev/null
          gpg --no-default-keyring \
          --keyring /usr/share/keyrings/hashicorp-archive-keyring.gpg \
          --fingerprint
          echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com $(grep -oP '(?<=UBUNTU_CODENAME=).*' /etc/os-release || lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/hashicorp.list
          sudo apt update
          sudo apt-get install terraform
      - name: Initialise project and deploy terraform 
        id: apply
        run: |
          cd infra/terraform
          terraform init
          terraform fmt
          terraform validate
          terraform apply --auto-approve=true
          echo "public_ip=$(terraform output -raw public_ip)" > "$GITHUB_OUTPUT"
  build_app_and_push:
    name: Build app Image and push to docker Hub
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout source code
        uses: actions/checkout@v6
      - name: export short sha
        id: meta
        run: |
          echo "SHORT_SHA=${GITHUB_SHA::7}" >> "$GITHUB_OUTPUT"
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Cache Docker layers
        uses: actions/cache@v4
        with:
          path: /tmp/.buildx-cache
          key: ${{runner.os}}-buildx-${{github.sha}}
          restore-keys: ${{runner.os}}-buildx-
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{secrets.DOCKER_USERNAME}}
          password: ${{secrets.DOCKERHUB_TOKEN}}
      - name: read Dockerfile
        run:  
          cat app/Dockerfile
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./app
          push: true
          plateforms: liinux/amd64, linux/arm64
          tags: |
            ${{secrets.DOCKER_USERNAME}}/${{secrets.DOCKERHUB_PORJECT_NAME}}:latest
            ${{secrets.DOCKER_USERNAME}}/${{secrets.DOCKERHUB_PORJECT_NAME}}:${{steps.meta.outputs.SHORT_SHA}}
  deploy_containers_on_server:
    name: Deploy containers on The server 
    runs-on: ubuntu-latest
    needs: deploy
    env: 
      public_ip: ${{ needs.deploy.outputs.public_ip }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup SSH
        run: |
            mkdir -p ~/.ssh 
            printf "%s\n" "${{ secrets.SSH_SECRET_KEY }}" > ~/.ssh/id_rsa
            chmod 600 ~/.ssh/id_rsa
            ssh-keyscan -H "${{ env.public_ip }}" >> ~/.ssh/known_hosts
        shell: bash
      - name: Install Docker
        run: |
            ssh -i ~/.ssh/id_rsa ubuntu@${{ env.public_ip }} << 'EOF'
              # Add Docker's official GPG key:
              sudo apt update
              sudo apt install ca-certificates curl
              sudo install -m 0755 -d /etc/apt/keyrings
              sudo curl -fsSL https://download.docker.com/linux/ubuntu/gpg -o /etc/apt/keyrings/docker.asc
              sudo chmod a+r /etc/apt/keyrings/docker.asc

              # Add the repository to Apt sources:
              sudo tee /etc/apt/sources.list.d/docker.sources <<EOF
              Types: deb
              URIs: https://download.docker.com/linux/ubuntu
              Suites: $(. /etc/os-release && echo "${UBUNTU_CODENAME:-$VERSION_CODENAME}")
              Components: stable
              Signed-By: /etc/apt/keyrings/docker.asc
              EOF

              sudo apt update

              sudo apt install docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin

            EOF
      - name: Copy project files to Server
        run: |
            ssh -i ~/.ssh/id_rsa ubuntu@${{ env.public_ip }} "mkdir -p ~/app"
            scp -r -i ~/.ssh/id_rsa -o StrictHostKeyChecking=no $(ls -A | grep -v -E '.git') ubuntu@${{ env.public_ip }}:~/app/
            ssh -i ~/.ssh/id_rsa ubuntu@${{ env.public_ip }} << 'EOF'
              cd ~/app
              docker compose up -d
              docker system prune -f
            EOF
      - name: Run Docker Compose
        run: |
          ssh -i ~/.ssh/id_rsa ubuntu@${{ env.public_ip }} << 'EOF'
            cd ~/app
            docker compose up -d
            docker system prune -f
          EOF
        shell: bash